<template>
    <div id="calculatorFormContainer">
        <h3>Calculator</h3>
        <form>
            <div class="form-group">
                <label for="esimatedCarValue">Estimated value of the car(100 - 100 000 EUR)</label>
                <input v-model="esimatedCarValue" type="text" class="form-control" id="esimatedCarValue" />
            </div>
            <div class="form-group">
                <label for="taxPercentage">Tax percentage (0 - 100%)</label>
                <input v-model="taxPercentage" type="text" class="form-control" id="taxPercentage" />
            </div>
            <div class="form-group">
                <label for="numberInstalments">Number of instalments (count of payments in which client wants to pay for the policy (1 – 12))</label>
                <input v-model="numberInstalments" type="text" class="form-control" id="numberInstalments" />
            </div>
            <button v-on:click="calculate" type="submit" class="btn btn-primary">Calculate</button>
        </form>
        <div class="calculations-content" v-if="calculations != null">
            <div class="row">
                <div class="col-md-3">
                    <table class="table">
                        <thead>
                            <th></th>
                            <th>Policy</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Value</td>
                                <td>{{ calculations.base_price.toFixed(2) }}</td>
                            </tr>
                            <tr>
                                <td>Base premium ({{calculations.base_policy_rate}}%)</td>
                                <td>{{ calculations.base_policy.toFixed(2) }}</td>
                            </tr>
                            <tr>
                                <td>Commission ({{calculations.commission_rate}}%)</td>
                                <td>{{ calculations.commission.toFixed(2) }}</td>
                            </tr>
                            <tr>
                                <td>Tax ({{calculations.tax_rate}}%)</td>
                                <td>{{ calculations.tax.toFixed(2) }}</td>
                            </tr>
                            <tr>
                                <td><span class="bold-text">Total cost</span></td>
                                <td><span class="bold-text">{{ calculations.grand_total.toFixed(2) }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <table class="table col-xs-12 col-md-2 table-style" v-for="(item, index) in calculations.installments" v-bind:key="index">
                            <thead>
                                <th>{{index+1}} installment</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>{{ item.policy.toFixed(2) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ item.commission.toFixed(2) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ item.tax.toFixed(2) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ item.grand_total.toFixed(2) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Using the `scoped` attribute -->
<style scoped>
    .bold-text {
        font-weight: bold;
    }

    .table-style {
        margin-right: 10px;
    }

    .calculations-content {
        margin-top: 40px;
    }

</style>

<script>

    const axios = require('axios');

    export default {
        data() {
            return {
                esimatedCarValue: 0,
                taxPercentage: 0,
                numberInstalments: 0,
                calculations: null,
            }
        },
        // define methods under the `methods` object
        methods: {
            calculate: function (event) {
                event.preventDefault();

                if  ((this.esimatedCarValue == null || this.esimatedCarValue > 100000) ||
                    (this.taxPercentage == null && this.taxPercentage > 0) ||
                    (this.numberInstalments > 12 || (this.numberInstalments == null && this.numberInstalments > 0))) return;

                let $this = this;
                axios.post('/api/calculate', {
                    esimatedCarValue: this.esimatedCarValue,
                    taxPercentage: this.taxPercentage,
                    numberInstalments: this.numberInstalments
                })
                .then(function (response) {
                    console.log(response.data);
                    $this.calculations = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });

            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
